/* GLOBAL */
body {
  margin: 0;
}
@font-face {
  font-family: "Rowdies";
  src: url(../fonts/Rowdies-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
h1 {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #fe3b1f;
  margin: 50px 110px 0 110px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left-half {
  left: 0;
}
.right-half {
  right: 0;
  background-color: #454545;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.info {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
  line-height: 200%;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 50px 110px 0 110px;
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BG input */
.info-input {
  margin-top: 30px;
  border-top: 10px;
  width: 400px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #525557;
}
.info-input::placeholder .insights::placeholder {
  margin: 5px;
  padding-left: 20px;
}
.input-control input:focus {
  outline: 0;
}
.input-control.success input {
  border-color: #09c352;
}
.input-control.error input {
  border-color: #ff3860;
}
.input-control.error {
  color: #ff3860;
  font-size: 15px;
  font-style: italic;
  height: 80px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 100px 220px 80px 220px;
}
.pagination a {
  margin: 15px;
  list-style: none;
  text-decoration: none;
  color: #750000;
}
.pagination a:active {
  transform: translateY(4px);
}
/* Button */
.addLanguageBtn {
  margin: 15px 25px 15px 250px;
  height: 31px;
  background-color: #fe3b1f;
  border: 1px transparent;
  color: wheat;
}
.addLanguageBtn:active {
  box-shadow: 0 2px #750000;
  transform: translateY(4px);
}
.removeSkillBtn,
.changePageBtn {
  color: red;
  border-color: transparent;
  border: 0;
  padding: 0;
  font-size: 17px;
  font-weight: 400;
  background: none;
}
.removeSkillBtn:active,
.changePageBtn:active {
  transform: translateY(2px);
}

/* Covid-stuff Radio button forms & date button forms*/

.info-wrapper {
  margin: 40px 220px 0 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 17px;
}
.radio-btn {
  margin: 20px 0 15px 0;
}
.radio-btn input,
.dates-input input {
  margin: 10px;
}
.dates-input input {
  width: 350px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #525557;
}

/* insights */
.insights-wrapper {
  margin-left: 50px;
}
.specials {
  margin-top: 50px;
}
.insights input {
  border: 1px solid #525557;
}
.insights-text-inputs input {
  width: 380px;
}
.devtalk input {
  height: 90px;
}
.specials input {
  height: 50px;
}

/* Template */

.template-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
}

#yearsOfExperience,
#programmingLanguage {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  font-style: italic;
  color: #000000;
}
